:root {
  --dark-blue: #2f4858;
  --blue: #33658a;
  --shadow: rgba(189, 193, 196, 0.438);
  --blue-hover: rgb(50, 95, 129);
  --light-blue: #86bbd8;
  --yellow: #f6ae2d;
  --yellow-hover: rgb(224, 161, 43);
  --yellow-hover: rgb(197, 147, 55);
  --orange: #f26419;
  --key-lime: #d6f49d;
  --peach: #fcd0a1;
  --red: #8e3b46;
  --ash-grey: #b4b8ab;
  --ash-grey-t: rgba(180, 184, 171, 0.37);
  --sonic-silver: #7a7978;
  --black: #343330;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--light-blue);
  margin: 0;
  padding: 0;
  font-family: 'Lato', cursive;
}

header {
  font-size: 4em;
  text-align: center;
  background-color: var(--blue);
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
  height: 120px;
  display: block;
  font-family: 'Galindo', cursive;
  text-shadow: 3px 3px var(--ash-grey-t);
}

.title {
  color: var(--yellow);
  text-decoration: none;
}
.not-rendered {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.spinner {
  background-image: url(Spinner.svg);
  border: none;
}
.site-wrap {
  width: 90vw;
  /* max-width: 1000px; */
  background: white;
  border-radius: 25px;
  padding: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.animal:hover {
  background-color: var(--blue-hover);
  color: var(--yellow-hover);
  box-shadow: 5px 5px var(--ash-grey-t);
}

.animal {
  max-width: 800px;
  grid-gap: 15px;
  background-color: var(--blue);
  transition: all ease-in-out 120ms;
  color: var(--yellow);
  border: 5px solid var(--yellow);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 15px 0;
  padding: 15px;
  text-decoration: none;
}

.animal h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  overflow: hidden;
  margin: 0;
  font-family: 'Galindo', cursive;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
}

.animal h2 {
  align-self: start;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
}

.animal img {
  width: auto;
  height: auto;
  border-radius: 10px;
  max-height: 200px;
}

.app-root {
  display: grid;
  align-items: center;
  justify-items: center;
}

.image-container {
  border-radius: 20px;
  width: 100%;
  height: 200px;
  float: left;
  margin: 5px;
  display: grid;
  justify-content: center;
  align-items: center;

  grid-column: 1/2;
  grid-row: 1/3;
}

.map-container {
  padding: 0;
  margin: 0;
  width: 35vw;
  max-width: 400px;
  height: 300px;
  color: black;
  position: relative;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: stretch;
  align-self: stretch;
}

.details {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  justify-items: center;

  align-items: center;
  grid-gap: 40px 8vw;
  align-items: center;
  color: var(--black);
}

.details h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 45px;
  color: var(--blue);
  margin: 20px 0 0 0;
  font-family: 'Galindo';
  text-shadow: 3px 3px var(--ash-grey-t);
}

.details .description img {
  max-width: 400px;
  max-height: 400px;
}

.details .description {
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 600px;
}

.details button {
  grid-row: 4/5;
  grid-column: 1/3;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  width: 75vw;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  /* margin-right: 15px; */
}

.search-params form {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 10px 0;
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 10px;
  border: 5px solid var(--blue);
  margin-top: 15px;
}

.search-route .search-params form {
  width: calc(90vw - 80px);
  max-width: 500px;
  margin-top: 0px;
}

.search-params label {
  display: block;
  width: 200px;
  font-size: 20px;
}

.search-params #radius-label #radius {
  width: auto;
  display: inline-block;
  margin: 0 5px 0 15px;
}

.search-params input,
.search-params select {
  font-size: 18px;
  height: 30px;
  width: 200px;
}

.search-params input:disabled,
.search-params select:disabled {
  opacity: 0.5;
  cursor: disabled;
}

.search-params button,
#modal button,
.details button {
  background-color: var(--blue);
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid var(--black);
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.search-params button {
  /* margin-top: 15px; */
  justify-self: center;
  align-self: center;
}

.search-params button:hover {
  background-color: #c36b72;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5vw;
  justify-items: center;
}

.search-params {
}

.carousel {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/4;
  grid-gap: 15px;
  align-self: start;
}

.carousel .active-img-container {
  /* width: 400px; */
  /* height: 400px; */
  display: grid;
  justify-items: center;
  align-items: center;
}

.carousel .active-img-container img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 5px;
}

.carousel-smaller {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.carousel-smaller > img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  cursor: pointer;
  border: 2px solid var(--black);
}

.carousel-smaller > img.active {
  border-color: var(--red);
  opacity: 0.6;
}

.search-icon {
  float: right;
}

.page-nav {
  margin-top: 25px;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  font-size: 25px;
}

.page {
  display: grid;
  justify-items: center;
  align-content: center;
}

.page-nav span {
  cursor: pointer;
}

.triangle-right.disabled {
  border-left-color: var(--sonic-silver);
  opacity: 0.5;
}

.triangle-left.disabled {
  border-right-color: var(--sonic-silver);
  opacity: 0.5;
}

.triangle-right.disabled:hover {
  border-left-color: var(--sonic-silver);
}

.triangle-left.disabled:hover {
  border-right-color: var(--sonic-silver);
}

.triangle-right:hover {
  border-left-color: var(--yellow-hover);
}

.triangle-left:hover {
  border-right-color: var(--yellow-hover);
}

.triangle-right:active {
  border-left-color: var(--yellow-hover);
  opacity: 0.5;
}

.triangle-left:active {
  border-right-color: var(--yellow-hover);
  opacity: 0.5;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 24px solid var(--yellow);
  border-bottom: 12px solid transparent;
  justify-self: start;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 24px solid var(--yellow);
  border-bottom: 12px solid transparent;
  justify-self: end;
}

.details-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr; */
  margin: 30px;
  grid-gap: 10px 0;
  /* width: 75vw; */
}

.details-table .detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 5px;
  /* height: 30px; */
  font-size: 16px;
}

.details-table .detail .detail-header {
  font-weight: bold;
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
/* @media only screen and (min-width: 320px) and (max-width: 480px) { */
@media only screen and (max-width: 530px) {
  header {
    font-size: 45px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    height: 140px;
    padding: 10px 0;
  }

  .title {
    display: grid;
    grid-template-rows: auto auto;
  }

  .animal {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    width: calc(90vw - 80px);
  }

  .animal h1 {
    font-size: 30px;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .animal h2 {
    font-size: 20px;
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
  }

  .animal img {
    max-width: 53vw;
  }

  .image-container {
    max-width: 53vw;
    grid-row: 2/3;
  }

  .map-container {
    /* width: 75vw; */
    width: calc(90vw - 80px);
    /* left: 0; */
    height: 300px;
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .details {
    justify-content: center;
    grid-gap: 40px;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto;
  }

  .details h1 {
    font-size: 40px;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .details .description {
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 16px;
  }

  .details button {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .details .description img {
    max-width: calc(90vw - 40px);
    max-height: 400px;
  }

  .search-params h2 {
    font-size: 20px;
  }

  .search-params form {
    width: calc(90vw - 80px);
    max-width: 350px;
  }

  .search-params label {
    width: calc(90vw - 110px);
    max-width: 300px;
    font-size: 18px;
  }

  .search-params input,
  .search-params select {
    font-size: 16px;
    height: 30px;
    width: calc(90vw - 110px);
    max-width: 300px;
  }

  .search {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-items: center;
    align-content: center;
    grid-gap: 10px;
  }

  .carousel {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .carousel .active-img-container {
    width: calc(90vw - 80px);
  }

  .carousel .active-img-container img {
    max-width: calc(90vw - 80px);
    max-height: 400px;
  }

  .carousel-smaller {
    width: calc(90vw - 80px);
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 0;
  }

  .carousel-smaller > img {
    width: 25vw;
    height: 25vw;
  }

  .page-nav {
    margin-top: 25px;
    font-size: 18px;
  }

  .triangle-right {
    border-top: 9px solid transparent;
    border-left: 18px solid var(--yellow);
    border-bottom: 9px solid transparent;
  }

  .triangle-left {
    border-top: 9px solid transparent;
    border-right: 18px solid var(--yellow);
    border-bottom: 9px solid transparent;
  }

  .details-table .detail {
    font-size: 14px;
  }

  .details-table {
    display: block;
  }

  .details-table .detail:nth-of-type(2n + 1) {
    background-color: var(--ash-grey-t);
  }
}

@media only screen and (min-width: 530px) and (max-width: 890px) {
  /* Styles */

  header {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .animal {
    justify-items: center;
    align-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    width: calc(90vw - 80px);
  }

  .animal h1 {
    font-size: 35px;
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .animal h2 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 20px;
    text-align: center;
    align-self: center;
  }

  .animal img {
    max-width: 50vw;
  }

  .image-container {
    max-width: 50vw;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .map-container {
    /* width: 75vw; */
    width: calc(90vw - 80px);
    /* left: 0; */
    height: 300px;
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .details {
    grid-gap: 40px;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto;
  }

  .details h1 {
    font-size: 40px;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .details .description {
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 16px;
  }

  .details button {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .details .carousel #modal > div {
    /* max-width: 90vw; */
    /* padding: 10px; */
    /* border-radius: 10px; */
  }

  .details .description img {
    max-width: calc(90vw - 80px);
    max-height: 400px;
  }

  .search-params h2 {
    font-size: 20px;
  }

  .search-params label {
    width: calc(90vw - 110px);
    max-width: 300px;
    font-size: 18px;
  }

  .search-params input,
  .search-params select {
    font-size: 16px;
    height: 30px;
    width: calc(90vw - 110px);
    max-width: 300px;
  }

  .search {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-gap: 10px;
    justify-items: center;
    align-content: center;
  }

  .carousel {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .carousel .active-img-container {
    /* width: 75vw; */
    width: calc(90vw - 80px);
  }

  .carousel .active-img-container img {
    max-width: calc(90vw - 80px);
    max-height: 400px;
  }

  .carousel-smaller {
    width: calc(90vw - 80px);
  }

  .carousel-smaller > img {
    max-height: 100px;
    max-width: 100px;
    width: 20vw;
    height: 20vw;
  }

  .page-nav {
    margin-top: 25px;
    font-size: 18px;
  }

  .triangle-right {
    border-top: 9px solid transparent;
    border-left: 18px solid var(--yellow);
    border-bottom: 9px solid transparent;
  }

  .triangle-left {
    border-top: 9px solid transparent;
    border-right: 18px solid var(--yellow);
    border-bottom: 9px solid transparent;
  }

  .details-table .detail:nth-of-type(4n + 3),
  .details-table .detail:nth-of-type(4n + 4) {
    background-color: var(--ash-grey-t);
  }
}

@media only screen and (min-width: 761px) {
  .details-table .detail:nth-of-type(4n + 3),
  .details-table .detail:nth-of-type(4n + 4) {
    background-color: var(--ash-grey-t);
  }
}
